<div id="mySidenav" class="sidenav">

    <div class="pt-2 mb-4 rounded-right" id="myNav">

        @{
            if (User.IsInRole("Admin"))
            {
                <a asp-area="Admin" asp-controller="Home" asp-action="Index"
                   class="nav-link @checkCurrentController("Home") " id="Home">
                    <i class="fas fa-home"></i>&nbsp;Home
                </a>
                <a asp-area="Admin" asp-controller="Topics" asp-action="Index"
                   class="nav-link @checkCurrentController("Topics") @checkCurrentController("Topic")" id="Topics">
                    <i class="far fa-list-alt"></i>&nbsp;Topics
                </a>
                <a asp-area="Admin" asp-controller="Questions" asp-action="Index"
                   class="nav-link @checkCurrentController("Questions") @checkCurrentController("Question")" id="Questions">
                    <i class="far fa-question-circle"></i>&nbsp;Questions
                </a>
                <a asp-area="Admin" asp-controller="Subjects" asp-action="Index"
                   class="nav-link @checkCurrentController("Subjects") @checkCurrentController("Subject")" id="Subjects">
                    <i class="fas fa-clipboard-list"></i>&nbsp;Subjects
                </a>
                <a asp-area="Admin" asp-controller="Exams" asp-action="Index"
                   class="nav-link @checkCurrentController("Exams") @checkCurrentController("Exam")" id="Exams">
                    <i class="fas fa-file-medical"></i>&nbsp;Exams
                </a>
                <a asp-area="Admin" asp-controller="Users" asp-action="Index"
                   class="nav-link @checkCurrentController("Users") @checkCurrentController("User")" id="Users">
                    <i class="fas fa-users"></i>&nbsp;Users
                </a>

            }
            else
            {
                <a asp-area="Users" asp-controller="Home" asp-action="Index"
                   class="nav-link @checkCurrentController("Home") " id="Dashboard">
                    <i class="fas fa-home"></i>&nbsp;Dashboard
                </a>
                <a asp-area="Users" asp-controller="Exams" asp-action="Index"
                   class="nav-link @checkCurrentController("Exams")  @checkCurrentController("Exam")" id="ExamsUser">
                    <i class="fas fa-file-medical"></i>&nbsp;Exams
                </a>
            }

        }

    </div>

</div>

<style>
    body {
        font-family: 'Oswald', sans-serif;
    }

    .sidenav {
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
        background-color: none;
        padding-top: 16px;
        cursor: pointer;
    }

        .sidenav a {
            display: block;
            color: slategray;
            padding: 10px;
            text-decoration: none;
        }


            .sidenav a.active {
                color: lightpink;
            }

            .sidenav a:hover {
                color: lightpink;
            }
</style>


<script>


    //var header = document.getElementById("mySidenav");
    //var btns = header.getElementsByClassName("nav-link");
    //for (var i = 0; i < btns.length; i++) {
    //    btns[i].addEventListener("click", function () {
    //        var current = document.getElementsByClassName("active");
    //        current[0].className = current[0].className.replace(" active", "");
    //        this.className += " active";
    //    });
    //}


    // $('#myNav a').on('click', function (e) {
    //    e.preventDefault()
    //    $(this).tab('show')
    //})

</script>

@functions {

    public string checkCurrentController(string nameController)
    {
        var currentCont = this.ViewContext.RouteData.Values["controller"].ToString();
        if (currentCont == nameController)
            return "active";
        return "";
    }
}




