@model Testing.Models.UserExam
@{
    ViewData["Title"] = "Detail";
}

<div class="row">
    <div class="col-1"></div>
    <div class="col">
        <br />
        <div class="text-secondary">
            <h4>@Model.Exam.ExamCode :&nbsp;&nbsp;@Model.Exam.ExamName</h4> <hr />
        </div>

        @(Html.DevExtreme().Form<Testing.Models.Exam>
     ()
     .ShowValidationSummary(true)
     .ID("form")
     .ShowColonAfterLabel(true)
     .ColCount(2)
     .LabelLocation(FormLabelLocation.Left)

     .FormData(Model)

     .Items(items =>
     {
     items.AddGroup()
     .Caption("Exam Information").CssClass("text-secondary font-weight-bold ")

     .Template(@<text>

                <div class=" h6 font-weight-normal">
                    <b>Code :</b> @Model.Exam.ExamCode
                </div>

                <div class="h6 font-weight-normal">
                    <b>Name :</b> @Model.Exam.ExamName
                </div>

                <div class="h6 font-weight-normal">
                    <b>Version :</b> @Model.Exam.Version
                </div>

                <div class="h6 font-weight-normal">
                    <b>Topic Name :</b> @Model.Exam.Subject.SubjectName
                </div>
    </text>); ;

items.AddGroup()
.Caption("Date Detail").CssClass("text-secondary font-weight-bold")

.Template(@<text>

            <div class="h6 font-weight-normal">
                <b>Start Date :</b> @String.Format("{0:d MMMM yyyy}", @Model.Exam.StartDate)
            </div>

            <div class="h6 font-weight-normal">
                <b> End Date:</b> @String.Format("{0:d MMMM yyyy}", @Model.Exam.EndDate)
            </div>

            <div class="h6 font-weight-normal">
                <b>Duration :</b> @Model.Exam.ExamDuration Days
            </div>

            <div class="h6 font-weight-normal">
                <b> Remaining Day:</b> @Model.Exam.RemainingDay Days
            </div>

    </text>); ;

  items.AddGroup()
.Template(@<text>

        <div class="h6 font-weight-normal">
            <b>Questions :</b> @Model.Exam.QuestionExams.Count()
        </div>

        <div class="h6 font-weight-normal">
            <b> Total Score:</b> @Model.TotalQuestionScore
        </div>
       
    </text>); ;


})
        )
        <br />
        @(Html.DevExtreme().Button()
   .Text("Start!")
   .Type(ButtonType.Default)
   .StylingMode(ButtonStylingMode.Contained)
   .OnClick("Start")
        )
    </div>
    <div class="col-1"></div>
</div>

<br />

<script>
    function Start() {
        window.location.href = "/Users/Exam/Start/@Model.ExamId";
    }
</script>