@using Testing.Models
@model Testing.Models.Exam
@{
    ViewData["Title"] = "Questions";
}

<div class="row">
    <div class="col-sm pb-4">
        <br />
        <div class="text-secondary p-1">
            <h4>List Question of Exam :&nbsp;&nbsp;@Model.ExamName</h4>
        </div>
        <br />
        <partial name="_NavExam" />
        <br />

        <partial name="_lstQuestion" />

        <br />
        @(Html.DevExtreme().Button()
                .Text("Back")
                .Type(ButtonType.Back)
                .StylingMode(ButtonStylingMode.Contained)
                .OnClick("BacktoIndex")
        )
    </div>

    <div class="ml-3 col-sm-3 bg-light">
        <br />
        <div class="bg-white p-1 text-center"><h6>Recommended Question! </h6></div>
        <br />

        @foreach (var eq in Model.QuestionExams)
        {
            <a asp-action="Index" asp-controller="Question" asp-route-id="@eq.QuestionId">
                <span>&#x26AC;&nbsp;  @eq.Question.QuestionString&nbsp; <span class="badge badge-secondary">@eq.Question.QuestionExams.Count</span></span><br />
            </a>

        }

        <br />
        <div class="text-center">
            <div class="row card-footer">

                <div class="text-center col ">
                    <a asp-action="AssignQuestions" asp-route-id="@Model.ExamId">
                        Assign More Questions
                    </a>
                </div>

            </div>

        </div>
        <br /><br />
    </div>

</div>

<script>
    function BacktoIndex() {
        window.location.href = "/Admin/Exams/Index";
    }

</script>